.stats-section {
    position: relative;
    background-color: transparent;
    height: 2px;
    /* Just the cutting line height */
    padding: 0;
    overflow: visible;
    margin-bottom: -5vw;
    margin-top: -5vw;
    z-index: 5;
}

.stats-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2F3E30;
    transform: skewY(-2deg);
    transform-origin: left;
}